#container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 512px;
    height: 512px;
}

#container > .innerDiv {
    border: 1px solid black;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}
