* {
    font-family: "Courier New", "Courier", monospace;
}


#container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 512px;
    height: 512px;
}

#container > .innerDiv {
    border: 1px solid black;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

#container > .active {
    opacity: 1;
    background-color: salmon;
}

#container > .passive {
    background-color: "";
    opacity: 0.2;
    
}


#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/*buttons design*/
button {
    color: black;
    font-size: 16px;
    background-color:salmon;
    transition-duration: 0.2s;
    text-align: center;
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    min-width: 120px; /*limits the size to go smaller that what it is  */
    white-space: nowrap; /*removes white-space and keeps the text as is  */
}

button:hover {
    background-color: bisque;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}